body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #111111;
    padding: 10px 20px 10px 20px;
}

header img {
    height: 75px;
}

.right_header {
    display: flex;
    flex: 0 0 500px;
    height: 70px;
    background-color: bisque;
    
}

.right_header .nav-right_header {
    display: flex;
    align-items: flex-end;
}


.left_header {
    flex: 0 0 150px;
    height: 70px;
    background-color: brown;
}

.nav-right_header {
    flex: 1;
    background-color: blueviolet;
    height: 70px;
}

.list-nav {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 10%;
    gap: 10px;
    box-sizing: border-box;
    background-color: black;
}

.list-nav p {
    color: white;
    margin: 0;
}
