div p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #48606a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #111111;
    padding: 10px 20px 10px 20px;
}

header img {
    height: 75px;
}

.right_header {
    display: flex;
    min-width: 500px;
    height: 89px;
    
}

.right_header .nav-right_header {
    display: flex;
    align-items: flex-end;
}


.left_header {
    display: flex;
    flex: 0 0 150px;
    height: 70px;
    align-items: flex-end;
    justify-content: flex-end;
}

.left_header p{
    color: #5d5d5f;
    margin: 0;
    font-size: 13px;
    padding-right: 50px;
}


.nav-right_header {
    flex: 1;
    height: 80px;
}

.list-nav {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 10%;
    gap: 10px;
    box-sizing: border-box;
}

.list-nav p {
    color: #5d5d5f;
    margin: 0;
    font-size: 13px;
}

.list-nav .active {
    color: white;
}

.list-nav a {
    color: #5d5d5f;
    margin: 0;
    font-size: 13px;
}

.list-nav p:not(:last-child)::after {
    content: "|";
    color: #5d5d5f;
    margin-left: 10px;
  }

.list-nav a:not(:last-child)::after {
    content: "|";
    color: #5d5d5f;
    margin-left: 10px;
  }

main {
    padding-top: 50px;
}

.grid-layout {
    display: grid;
    grid-template-areas: 
        "community-header community-header"
        "poster-left login-right"
        "community-footer community-footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 151px 498px 46px;
    padding: 10px;
    background-color: black;
    min-height: 700px;
    width: 878px;
    margin: 0 auto;
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}



.community-header {
    grid-area: community-header;
    padding: 20px;
}

.community-stats {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.community-stats p {
    font-size: 16px;
}


.community-stats p:not(:last-child)::after {
    content: "|";
    color: #5d5d5f;
    margin: 0 10px 0 10px;
  }

.community-header h1 {
    padding: 0 0 5px 0;
}

.community-header p {
    max-width: 620px;
    font-size: 14px;
}

.poster-left {
    grid-area: poster-left;
}

.poster-right {
    grid-area: poster-right;
}

.community-footer {
    grid-area: community-footer;
}


